In [2]:
message="Hello Python!"

In [3]:
type(message)

str

In [4]:
print(message)

Hello Python!

DATA TYPE

In [7]:
x=1
print(type(x))
y=x+5
z=y
a=10.5
b=True
x= 10.5


print(type(x))

<class 'int'>
<class 'float'>

In [8]:
x="Hello"
print(type(x))

<class 'str'>

In [10]:
name ="Python"
name_1="python1"

In [11]:
x=1
x=1.0
x=10
print(type(x))

<class 'int'>

In [12]:
x=10.0
print(type(x))
x=True
print(type(x))
y=False
print(type(y))

<class 'float'>
<class 'bool'>
<class 'bool'>

In [15]:
x="This is String"
print(x)
print(type(x))
y='THis is also String'
print(y)
x="Hello"+" "+"World!"
print(x)

This is String
<class 'str'>
THis is also String
Hello World!

In [17]:
planets_in_solar_system=8
distance_to_alpha_centauri=4.367
can_liftoff=True
shuttle_landed_on_the_moon="Apollo 11"

MODULE

In [18]:
import math

In [19]:
math.pow(3,4)

81.0

In [20]:
import random

In [21]:
random.randint(3,25)

11

In [22]:
from pathlib import Path
from math import pow

In [1]:
rate=10

In [2]:
principle =1000

In [3]:
time=3

In [4]:
interest=(rate*principle*time)/100

In [6]:
print("Interest is",interest)

Interest is 300.0

OPERATIONS

In [7]:
a=10
b=5
add = a+b
sub= a-b
mut=a*b
div=a/b

In [9]:
print(add)
print(sub)
print(mut)
print(div)

15
5
50
2.0

In [11]:
seconds=1042
display_minutes = 1042 // 60
display_seconds = 1042 % 60

print(display_minutes)
print(display_seconds)

17
22

In [18]:
endvelocity=60
startvelocity=10
acceleration=9.8

time =(endvelocity-startvelocity)/acceleration
print("Time to reach desired velocity",time)

Time to reach desired velocity 5.1020408163265305

CONDITIONALS

In [17]:
X=8
if X<10:
    print("X is less then 10")
    print("This is conditional statement")
else:
    print("This is not conditional statement")

X is less then 10
This is conditional statement

In [15]:
X=12
if X<10:
    print("X is less then 10")
    print("This is conditional statement")
else:
    print("This is not conditional statement")

This is not conditional statement

In [14]:
X=int(input("Enter a value:"))
if X<10:
    print("X is less then 10")
    print("This is conditional statement")
else:
    print("This is not conditional statement")

This is not conditional statement

In [16]:
X=int(input("Enter a value:"))
if X<10:
    print("X is less then 10")
    print("This is conditional statement")
else:
    print("This is not conditional statement")

X is less then 10
This is conditional statement

In [20]:
a=97
b=55
if a>b:
    print("yes")

yes

In [22]:
a=97
b=55
if a>=b:
    print("yes")
else:
    print("NOPE")

yes

In [23]:
a=97
b=112
if a>=b:
    print("yes")
else:
    print("NOPE")

NOPE

STRINGS

In [24]:
moon_radius="The MOon has a radius of 1080 miles"

In [25]:
print(moon_radius)

The MOon has a radius of 1080 miles

In [28]:
"moon" in "The MOon has a radius of 1080 miles"

False

In [30]:
"Moon" in "The Moon has a radius of 1080 miles"

True

In [31]:
john = "Movies! Would you like more movie recommendations or discuss a specific genre?"

In [32]:
john.find("like")

18

In [33]:
john.upper()

'MOVIES! WOULD YOU LIKE MORE MOVIE RECOMMENDATIONS OR DISCUSS A SPECIFIC\xa0GENRE?'

In [34]:
john.count("movie")

1

In [35]:
word = "Geodata"

In [36]:
word[5]

't'

In [37]:
word[1:5]

'eoda'

In [38]:
word[-3]

'a'

In [43]:
topic=' Cricket funds other sports '+\
  'Infrastructure development '+\
'Increased sports awareness'

In [44]:
print(topic)

 Cricket funds other sports Infrastructure development Increased sports awareness

LISTS

In [68]:
planets=["earth","mars","venus","mercury"]

In [72]:
print("The first palnet is :",planets[0])
print("The third palnet is :",planets[2])

The first palnet is : earth
The third palnet is : venus

In [74]:
planets[0]= "mercury"

TUPLES

In [75]:
t=1,2,3

In [76]:
x,y,z = t
print(x)
print(y)
print(z)

1
2
3

sets

In [77]:
basket=["hat","pot","lot","kite","top","tap"]

In [82]:
basket_1 = {"hat","pot","lot","kite","pot","top","tap"}

In [84]:
print(basket_1)

{'lot', 'hat', 'pot', 'kite', 'tap', 'top'}

In [85]:
"pot" in  basket_1

True

In [86]:
a=set('woderful')
b=set('beautiful')

In [87]:
a-b

{'d', 'o', 'r', 'w'}

In [88]:
b-a

{'a', 'b', 'i', 't'}

DICTIONARIES

In [1]:
sara={"tom":143,"rasa":323,"tim":433,"lisk":343}

In [2]:
sara["rasa"]

323

In [3]:
sara["tom"]

143

In [4]:
sara

{'tom': 143, 'rasa': 323, 'tim': 433, 'lisk': 343}

In [6]:
del sara['lisk']

In [7]:
sara

{'tom': 143, 'rasa': 323, 'tim': 433}

WHILE LOOPS AND FOR LOOP

In [9]:
user_input=''

while user_input.lower() != 'done':
    user_input = input('Enter a new value, or done when done')

In [10]:
user_input=''
inputs =[]

while user_input.lower() != 'done':
    if user_input:
        inputs.append(user_input)
    user_input = input('Enter a new value, or done when done')

In [11]:
countdown =[2,3,4,6,7,8]
for number in countdown:
    print(number)
print("Blast off!..")

2
3
4
6
7
8
Blast off!..

In [13]:
countdown =[2,3,4,6,7,8]
for number in countdown:
    print(number)
    print("Blast off!..")

2
Blast off!..
3
Blast off!..
4
Blast off!..
6
Blast off!..
7
Blast off!..
8
Blast off!..

In [16]:
countdown =[2,3,4,6,7,8]
for number in countdown:
    print(number)
    sleep: (1)  #wait 1 second
print("Blast off!..")

2
3
4
6
7
8
Blast off!..

ITERATIONS

In [21]:
for i in range(5):
     print(i,end=',')

0,1,2,3,4,

In [22]:
for i in range(5,16):
     print(i,end=',')

5,6,7,8,9,10,11,12,13,14,15,

In [23]:
for i in range(5,10,2):
     print(i,end=',')

5,7,9,

write and call/invoke a function

In [25]:
def rocket_parts():
    print("payload,propellent,structure")

In [26]:
rocket_parts()

payload,propellent,structure

In [27]:
output = rocket_parts()
output is None

payload,propellent,structure

True

In [28]:
def distance_from_earth(destination):
    if destination =="Moon":
        return "238,567"
    else:
        return"Unable to compute to that destination"

In [30]:
distance_from_earth("Moon")

'238,567'

In [31]:
def days_to_complete(distance,speed):
    hours = distance/speed
    return hours/24

In [32]:
days_to_complete(234567,70)

139.62321428571428